.contactListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.contactAlign {
    margin-right: auto;
    margin-left: 20px;
}

.btnDelete {
    padding: 5px 10px;
    background-color: #ff4757;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnDelete:hover {
    background-color: #ff6b81;
}